{
    "app": {
        "host": "localhost",
        "port": 5000,
        "debug": true
    },
    "mongo": {
        "url": "mongodb://localhost:27017/",
        "db": "test-db"
    },
    "reddit": {
        "client_id": "",
        "client_secret": "",
        "user_agent": "warlock:level110:v3"
        "subreddits": ["programming", "python"]
    }
}
